.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    padding-bottom: 10%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.project {
    position: relative; /* Required for positioning the pseudo-element */
    margin-top: 3%;
    border: 1px #000000 solid;
    color: black;
    min-width: 60%;
    aspect-ratio: 21/9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url("./projectsImgs/moc.png");
    background-repeat: no-repeat;
    background-position: 0%;
    background-size: cover;
    filter: grayscale(60%);
}

/* Shadow in front of the background image */
.project::before {
    content: ''; /* Required for pseudo-elements */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); /* Black shadow with 50% opacity */
    z-index: 1; /* Ensures it's above the background image */
    pointer-events: none; /* Prevents interference with interactions */
}

.projectCard {
    position: relative; /* Ensures it stays above the shadow */
    z-index: 2; /* Places it above the pseudo-element */
    display: flex;
    flex-direction: column;
    min-height: 40%;
    max-width: 40%;
    margin-top: 10%;
    justify-content: space-around;
    margin-left: 2%;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
}

.projectCardTitle {
    margin: 0%;
    margin-left: 2%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: xx-large;
}

.projectCardText {
    max-width: 80%;
    margin-left: 2%;
    margin-top: 0%;
    font-size: 14px;
    word-wrap: break-word;
}

.projectCardButton button {
    margin-left: 2%;
    border: 3px solid #030303;
    display: inline-block;
    cursor: pointer;
    background: rgba(0, 0, 0, 5);
    border-radius: 8px;
    color: white;
    font-size: 15px;
    text-decoration: none;
}

.projectType {
    padding: 1%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    height: 80%;
    gap: 5%;
}

.projectType Button {
    border: 3px solid #030303;
    display: inline-block;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 8px;
    color: white;
    font-size: 15px;
    text-decoration: none;
    margin-right: -1%;
}