@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;700&display=swap");

body {
    padding: 0;
    margin: 0;
    font-family: "Cairo", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    direction: rtl;
    text-align: right;
}