
.servicesContenr{
    padding-top: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("https://www.transparenttextures.com/patterns/cubes.png");

}

.cntent{
    display: flex;
    justify-content: center;
    gap: 10%;
    padding: 10%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 4%

}



.text{
    padding: 3%;
}
.title {
    font-size: large;
}
.text p {
    margin-top: 0%;
    font-size:40px;
    max-width: 600px;
}



.Services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

.serves{
    display: flex;
    flex-direction: row;
    border: 2px rgb(190, 85, 185) solid;
    background-color: white;
    border-radius: 8px;
    padding: 3% 10% ;
    max-width: 800px;
    max-height: 200px;
    gap: 3%;
    margin-bottom: 4%;
}
.nameD{
    display: flex;
    flex-direction: column;
    font-size: medium;
    align-items: start;
    justify-content: center;
    
}
.servicesName {
    display: flex;
    justify-content: start;
    font-size: medium;
}
